<% include ../partials/header %>
<!-- /// -->
<% var a ="2eggOmlet-2BrownBread-2Banana"; %>
<% var b ="2BoiledEggs-2edli-peanut-butter"; %>
<% var c ="60gmOats-10Almonds-Apple"; %>
<% var d ="3BoiledEggs-1GlassMilk-2Banana"; %>

<!-- //// -->
<% var e ="1CupRice-AnyDaal-2BoiledEggs "; %>
<% var f ="1CupRice-Chicken200gm-Salad"; %>
<% var g ="2Chapati-2EggBhurji-Salad"; %>
<% var h ="Roasted-Chicken200gm-Salad"; %>

<!-- //// -->
<% var i ="AataMaggie-NimbuPani"; %>
<% var j ="Dosa-banana"; %>
<% var k ="FruitSalad"; %>
<% var l ="2Chapati-Sabji"; %>


<!-- //// -->
<% var m ="Oats-2Banana"; %>
<% var n ="3SliceBread-1Banana"; %>
<% var o ="1CupRice"; %>
<% var p ="MilkShake-Any"; %>


<!-- //// -->
<% var q ="5WhiteEggs-5Dates"; %>
<% var r ="5WhiteEgga-2Whole"; %>
<% var s ="DryFruits-Milk-1Banana"; %>
<% var t ="Oats-Milk-1Banana"; %>


<!-- //// -->
<% var u ="2Chapati-Bhaji-ButterMilk-2eggs"; %>
<% var v ="RajmaChawal-1Banana"; %>
<% var w ="200gmChicken-rice-Salad"; %>
<% var x="BhurjiChapati-Salad-NimbuPani"; %>
<!-- //// -->

<div class="container form">
    
<h2 style="text-align:center;" class="textcolor">Edit Info About Your Diet Plan</h2>
      <div style="width :40%; margin: 20px auto;">
           <form action="/diets/<%= data._id %>?_method=PUT" method="POST">
               <div class="form-group">
                    <input class="form-control" type="text"value="<%= data.name %>" placeholder="Name" name="name">
                 </div>
                 <div class="form-group" >
                        <div class="row">
                            <div class="col-md-8">
                                  <input class="form-control" type="text" value="<%= data.image%>" placeholder="Add any Motivational image..." name="image">
                            </div>
                            <div class="col-md-4">
                                  <button class="ui white button"><a href="https://unsplash.com/search/photos/motivation">Here</a></button>
                            </div>
                        </div>
                         
                          
                    </div>
                    <div class="form-group" >
                        <label> <h5 class="textcolor">Pick a date...</h5></label>
                          <input class="form-control"  type="date" name="date" value="<%= data.date%>" >
                    </div>
                 
                  <div class="form-group" >
                              <label> <h5 class="textcolor">Weight</h5></label>
                        <input class="form-control"  type="text" value="<%= data.weight%>" placeholder="Weight in kg" name="weight">
                  </div>
                  <div class="form-group" >
                              <label> <h5 class="textcolor">Bodyfat</h5></label>
                        <input class="form-control"  type="text" value="<%= data.bodyfat%>" placeholder="Body-fat in %" name="bodyfat">
                  </div>
              <div class="form-group">
                    <select class="ui dropdown" name="breakfast" placeholder="hhhh" value="<%= data.breakfast %>" >
                            <option value="Select breakfast">Breackfast</option>
                            <option value=<%=a%>><%=a%></option>
                            <option value=<%=b%>><%=b%></option>
                            <option value=<%=c%>><%=c%></option>
                            <option value=<%=d%>><%=d%></option>
                          
                           
                    </select>
                   </div>
      <!-- drop 2 -->
                   <div class="form-group" >
                      <select name="lunch"value="<%= data.lunch %> "class="ui dropdown">
                            <option value=""><span >Lunch</span></option>
                            <option value=<%=e%>><%=e%></option>
                            <option value=<%=f%>><%=f%></option>
                           <option value=<%=g%>><%=g%></option>
                           <option value=<%=h%>><%=h%></option>
                          
                      </select>
                     </div>
    <!-- drop3 -->
                     <div class="form-group">
                        <select name="snack" value="<%= data.snack %>" class="ui dropdown">
                                <option value="">Snack</option>
                                <option value=<%=i%>><%=i%></option>
                              <option value=<%=j%>><%=j%></option>
                                <option value=<%=k%>><%=k%></option>
                                <option value=<%=l%>><%=l%></option>
                           
                            
                        </select>
                       </div>
    <!-- drop4 -->
                       <div class="form-group">
                          <select name="prework" value="<%= data.prework %>" class="ui dropdown">
                                <option value="">Preworkout</option>
                                <option value=<%=m%>><%=m%></option>
                                <option value=<%=n%>><%=n%></option>
                                <option value=<%=o%>><%=o%></option>
                                <option value=<%=p%>><%=p%></option>
                              
                          </select>
                         </div>
     <!-- drop5 -->
                  <div class="form-group">
                    <select name="postwork" value="<%= data.postwork %>" class="ui dropdown">
                            <option value="">Postworkout</option>
                            <option value=<%=q%>><%=q%></option>
                            <option value=<%=r%>><%=r%></option>
                            <option value=<%=s%>><%=s%></option>
                            <option value=<%=t%>><%=t%></option>
                        
                    </select>
                   </div>
     <!-- drop6 -->
                   <div class="form-group">
                      <select name="dinner" value="<%= data.dinner %>"  class="ui dropdown">
                            <option value="">Dinner</option>
                            <option value=<%=u%>><%=u%></option>
                            <option value=<%=v%>><%=v%></option>
                            <option value=<%=w%>><%=w%></option>
                            <option value=<%=x%>><%=x%></option>
                      
                      </select>
                     </div>
                    
              
              <div class="form-group">
                    <button id="ccc" class="ui black button btn-block"><span class="color">Submit</span></button>
               </div>
        
             </form>
             <a id="ccc"class="ui black button  " href="/diets"><span class="color">Back</span></a>
        </div>
    </div>
 
    

<% include ../partials/footer %>