<% include ../partials/header %>

<h2 style="text-align:center;">The diet plan <%= gym1.name%> follows..</h2>

<div id="seg"class="ui raised very padded text container segment forma">
                
          <div class="ui segment">    
              <a class="ui red ribbon label">Plan for <%= gym1.name %></a>
        
         
         <p style="font-size:10px; margin-top: 8px;"><strong>Created On :</strong><%= gym1.date%></p>
       
        <div>
                <img class="ui medium  rounded image" src="<%= gym1.image%>" >
        </div>

        <div class="ui segment">
                <div class="ui two column very relaxed grid">
                  <div class="column cone">
                    <p class="info"><strong>Weight :</strong> <%= gym1.weight%> kg</p>
                    <p class="info"><strong>Breakfast :</strong> <%=gym1.breakfast %> </p>
                    <p class="info"><strong>Snack :</strong> <%=gym1.snack %> </p>
                    <p class="info"><strong>PostWork :</strong> <%=gym1.postwork %></p>
                  </div>
                  <div class="column cone">
                    <p class="info"> <strong>Bodyfat :</strong> <%=gym1.bodyfat%> %</p>
                    <p class="info"> <strong>Lunch :</strong> <%=gym1.lunch %></p>
                    <p class="info"> <strong>Prework :</strong> <%=gym1.prework %></p>
                     <p class="info"><strong>Dinner :</strong> <%=gym1.dinner %></p>
                  </div>
                </div>
                <div class="ui vertical divider">
                  AND
                </div>
              </div>
           

 <div class="ui segment">
        <a class="ui red ribbon label">Tips</a>  
<div class="rules">
        <h2 class="ui header">
       
         <a class="ui black circular label">Load your plate with vegetables.</a>
       </h2>
     </div>
 
     <div class="rules">
             <h2 class="ui header">
              
              <a class="ui black circular label">Have a plan when you hit the grocery store.</a>
            </h2>
    </div>
    <div class="rules">
         <h2 class="ui header">
          
          <a class="ui black circular label">Cut down on processed foods.</a>
        </h2>
</div>
 <div class="rules">
             <h2 class="ui header">
      
              <a class="ui black circular label">Switch to whole grains.</a>
            </h2>
    </div>  
    <div class="rules">
         <h2 class="ui header">
      
          <a class="ui black circular label">Enjoy your food,Don’t just count calories.</a>
        </h2>
</div>
</div>
<div class="ui purple segment">
  <a href="/diets"><button class="ui black button">Back</button></a>
<a href="/diets/<%= gym1._id %>/edit"><button class="ui black button">Edit</button></a>
<form id="delete"action="/diets/<%= gym1.id %>?_method=DELETE" method="post">
<a href="/diets/<%= gym1._id %>"><button class="ui black button">Delete</button></a>
</form>
</div>
   <!-- ////// -->
  </div>
</div>  

    

</div>
    

 
<% include ../partials/footer %>